.tamañoimg{
	width: 100%;
	height: 190px;
}
.tamañogral{
	width: 100%;
}
#fondopuntos{
	background-image: url("../image/trama_square.jpg");
	height: 700px;
	width: 100%;
}
.fondbla{
	background-color: #FFFFFF;
}
#fondobl{
	opacity: 0.9;
}
#fondoblanco{
	height: 40%;
}
#fondoblancoch{
	height: 70%;
}
.margg{
	margin: 8% 2% auto;
}
.marggb{
	margin: 5% 0% 5% 0%;
}
.margver{
	margin: 12% 38% auto;
}
.margver2{
	margin: 10% 16% auto;
}
.marggsino{
	margin: 1% 35% auto;
	padding: 5%;
}
.padd{
	padding: 1% 28%;
}
.colorojo{
	background-color: red;
	opacity: 0.5;
	width: 25%;
}
.colorj{
	color: red;
}
a{
	color: red;
}
.colorverde{
	background-color: green;
	opacity: 0.5;
	width:55%;
}
.position{
	position: relative;
	left: 1%;
	top:8%;
}
.posicionar01{
	position: absolute;
	left: 10%;
	top:31%;
}
.posicionar02{
	position: absolute;
	left: 20%;
	top:88%;
}
.padding1{
	padding: 8%;
}
.borde{
	border: 1px solid gray;
}
.pdb{
	margin-bottom: 10%;
}
.lin{
	width: 100%;
	border: 2px solid gray;
}
.linr{
	width: 100%;
	border: 2px solid red;
}
.gris{
	background-color: gray;
	padding: 2% 2%;
	color: #fff;
}
.rojo{
	background-color:red;
	padding: 2% 2%;
	color: #fff;
	right: 0% -2%;
}
.positioni{
	position: absolute;
	left: 30%;
	top: 22.5%;
}
/*banner-encabezado*/
 .bg-gris-claro{
 	background: rgba(244,245,247);
 	border-bottom: 1px solid #D7DCE1;
 }
 /*menu principal color rojo*/
 .menu-rojo{
 	padding: 2%;
 	list-style: none;
 }
 .menu-rojo li{
 	display: inline;
 	margin: 2% 1%; 
 }
 .menu-rojo li a{
 	font-size: .6em;
 }
 
 /*input search*/
 .posicion{
 	position: absolute;
 	
 } 

 /*color morado*/
.txt-morado{
	color: #872F85;
}
.linea-morada{
	border-bottom: 4px solid #872F85;
	width: 70%;
	margin-left: 20%;
}
/*color rojo*/

.bg-rojo{
	background-color: #B20000;
}
/*color gris*/
.txt.gris{
	color: #768696;
}
.bg-gris{
	background: #768696;
}
/*color blanco*/
.txt-blanco, li a{
 	color: #fff;
}
